{% extends 'base.html.twig' %}

{% block title %}Hello RentalController!{% endblock %}

{% block body %}
<h1>{{ house.title }}</h1>
<p>{{ house.city.name }}</p>

<h4>Book!</h4>
{{ form(bookingForm) }}

{% endblock %}
